<%= @user.username %> 
<br/>
<%= @user.id %>
<br>
<h1>Imágenes que has subido</h1>
s

<br>

<div class="images">
  <div class="row" >
    <% @posts.each do |post| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile-big ">
          <% if post.has_photo? %>
            <%= image_tag post.photo_path, width: 300, height: 300, class:"image" %>
          <% end %>  
          <td>
            <%= post.titulo %><%= link_to '  Edit', edit_post_path(post) %>
          </td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Destroy', posts_destroy_url(@invoice, :id => post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    <% end %>
  </div>
</div>