<h1>Listing posts</h1>

<br>

<%= form_tag("posts", method: "get") do %>
  <%= label_tag :q, "Search for:" %>  
  <%= select_tag 'hola', options_for_select([
    ['Animales' ,'Animales'], 
    ['Aviones', 'Aviones'], 
    ['Carros', 'Carros'], 
    ['Personas', 'Personas'],
    ['Variada', 'Variada'],
    ['Todas', 'Todas']
    ]) %>
  <%= submit_tag("Search") %>
<% end %>

<br>




<br>

<div class="images">
  <div class="row" >
    <% @posts.each do |post| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile-big ">
          <% if post.has_photo? %>
            <%= image_tag post.photo_path, width: 300, height: 300, class:"image" %>
          <% end %>          
          <td><%= post.titulo %></td>          
          <td><%= link_to 'Show', post %></td>
        </div>
      </div>
    <% end %>
  </div>
</div>





