<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <% if @post.has_photo?  %>
  	<%= image_tag @post.photo_path %>
  <% else %>
  	<b>Problema al subir tu foto</b>
  <% end %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @post.descripcion %>
</p>
<p>
  <strong>Categoria:</strong>
  <%= @post.categoria %>
</p>
<p>
  <strong>URL:</strong>
  <%= posts_path %>
</p>
<% post_id = @post.id.to_i %>
<% post_title = @post.titulo %>

<%= link_to 'Download image', posts_download_image_url(@invoice, :id => post_id, :title => post_title)  %>
<%= link_to 'Back', posts_path %>
