<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.titulo %>
</p>

<p>
  <% if @post.has_photo?  %>
  	<%= image_tag @post.photo_path %>
  <% else %>
  	<b>There is a problema uploading the photo</b>
  <% end %>
</p>
<p>
  <strong>Description:</strong>
  <%= @post.descripcion %>
</p>
<p>
  <strong>Category:</strong>
  <%= @post.categoria %>
</p>
<% post_id = @post.id.to_i %>
<% post_title = @post.titulo %>

<%= link_to 'Download image', posts_download_image_url(@invoice, :id => post_id, :title => post_title)  %>
<%= link_to 'Back', posts_path %>
