<!DOCTYPE html>
<html>
<head>
  <title>Pics2all</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-default' >
	<div class='navbar-inner' >
		<ul class= 'nav navbar-nav'>
			<li><%= link_to 'Inicio', root_path %></li>
			<!--<li><%= link_to 'Post', posts_path %></li>-->
			<% if current_user %>
				<li><%= link_to 'Nuevo artículo', new_post_path %></li>
				<li><%= link_to "log out #{current_user.username}", logout_path %></li>
				<li><%= link_to 'Mis imágenes', ownposts_path %></li>
				<li><%= link_to 'Editar usuario', edit_usuario_path(current_user)%></li>
			<% else %>
				<li><%= link_to 'Registrarse', new_usuario_path %></li>
				<li><%= link_to 'log in', login_path %></li>
			<% end %>
		</ul>
	</div>
</nav>
<%= yield %>

</body>
</html>
